<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가약 - Custom Wedding</title>
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>

<!-- 슬라이드 컨테이너 -->
<div class="slide-container">
    <!-- 첫 번째 슬라이드 -->
    <div id="slide-1" class="slide">
        <!-- 오른쪽 상단 메뉴 -->
        <div class="menu">
            <a href="product_list_page">상품</a>
            <a href="book_page">예약</a>
            <a href="#">상담</a>
            <a href="#">검색</a>
        </div>

        <!-- 중앙 텍스트 및 버튼 -->
        <div class="container">
            <p>WELCOME TO</p>
            <div class="store_name">
                <img src="/image/kayak.png">
            </div>
            <h2>CUSTOM WEDDING</h2>
            <a href="#" class="learn-more-btn">LEARN MORE</a>
        </div>
    </div>

    <!-- 두 번째 슬라이드 -->
    <div id="slide-2" class="slide">
        <div class="content">
            <div class="gallery-section">
                <div class="gallery">
                    <div class="image-box">
                        <img src="image1.png" alt="Sample Image">
                    </div>
                    <div class="image-box">
                        <img src="image.jpg" alt="Sample Image">
                    </div>
                    <div class="image-box">
                        <img src="image.jpg" alt="Sample Image">
                    </div>
                    <div class="image-box">
                        <img src="image.jpg" alt="Sample Image">
                    </div>
                </div>

                <div class="gallery-caption">
                    <p>4 ADULTS | 2 CHILDREN BELOW 7</p>
                    <p><strong>The Wellhall Family Suite</strong></p>
                    <p>from $399 a night</p>
                </div>

                
            </div>
            <div class="text-box">
                <h1>Welcome to your luxurious home away from home</h1>
            </div>

        </div>
    </div>
</div>


</body>
</html>
