<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가약 - Custom Wedding</title>
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <div class="scroll-container">
    <section id = "background" class ="detail_page-section1">
      <!-- 메뉴 및 배경 섹션 -->
      <!-- 오른쪽 상단 메뉴 -->
      <div class="menu">
            <a href="product_list_page.html">상품</a>
            <a href="book_page.html">예약</a>
        <a href="#">상담</a>
        <a href="#">검색</a>
      </div>
    </section>
    <section class="detail_page-section2">
      
          <nav class="tab-menu">
              <a href="#">메인세트</a>
              <a href="#">서브세트</a>
              <a href="#">센터피스</a>
              <a href="#">이벤트소품</a>
          </nav>

          <div id = "detail_page_content" class="content">
            <div class="product-grid">
              <div class="product">
                <img src="../image/product_list/main_info.png" alt="Product Image">
                
              </div>
              <div class="product">
                <a href="product_info_page.html">
                  <img src="../image/product_list/main_1.png" alt="Product Image">
                </a>
                <p>제품 설명 2</p>
              </div>
              <div class="product">
                <img src="../image/product_list/main_1.png"alt="Product Image">
                <p>제품 설명 3</p>
              </div>
              <div class="product">
                <img src="../image/product_list/main_1.png" alt="Product Image">
                <p>제품 설명 4</p>
              </div>
              <div class="product">
                <img src="../image/product_list/main_1.png" alt="Product Image">
                <p>제품 설명 5</p>
              </div>
              <div class="product">
                <img src="../image/product_list/main_1.png"alt="Product Image">
                <p>제품 설명 6</p>
              </div>
              <div class="product">
                <img src="../image/product_list/main_1.png" alt="Product Image">
                <p>제품 설명 7</p>
              </div>
              <div class="product">
                <img src="../image/product_list/main_1.png" alt="Product Image">
                <p>제품 설명 8</p>
              </div>
              <div class="product">
                <img src="../image/product_list/main_1.png" alt="Product Image">
                <p>제품 설명 9</p>
              </div>
            </div>
          </div>
    </section>
  </div>
</body>
</html>
